$header-color: #00acdc;
$transition-time: 300ms;
$bald-font-color: rgba(6, 11, 53, 1);
$thin-font-color: rgba(97, 96, 112, 1);
$button-color: rgba(0, 172, 220, 1);
$grid-small: 488px;
$grid-midle: 768px;
$grid-large: 1024px;
$grid-extra-large: 1200px;
